In [7]:
import os
import psycopg2
import pandas as pd
from dotenv import load_dotenv, find_dotenv

conn = psycopg2.connect('postgres://postgres:postgres@localhost:5400/postgres')

In [9]:
markets_query = """
select * from public.markers
"""

markets = pd.read_sql(markets_query, conn)

display(markets.head())
display(markets.shape)

,id,point,created_at,updated_at,deleted_at
0,66a746fc-46b3-4e77-8f01-f593496b7155,0101000020E6100000A84EBE65805D47C04ECBC5D8DA91...,2021-11-25 13:54:01.877278+00:00,2021-11-25 13:54:01.877278+00:00,None
1,dce9754e-e4b9-48d7-8780-4830f82cec30,0101000020E61000001AD25C7DA54E47C08C55DC4661B0...,2021-11-25 13:54:01.877278+00:00,2021-11-25 13:54:01.877278+00:00,None
2,3fa93903-79a8-4047-b760-a024eb19b3f2,0101000020E6100000823809EC853E47C08B31C9664A8A...,2021-11-25 13:54:01.877278+00:00,2021-11-25 13:54:01.877278+00:00,None
3,6a67eb37-c899-484b-9d2a-b6ec456a35a9,0101000020E6100000F22D1A450B3547C08F8BD080FA88...,2021-11-25 13:54:01.877278+00:00,2021-11-25 13:54:01.877278+00:00,None
4,dd3b8ba2-d871-4c9b-a785-22a4c46a2e6a,0101000020E6100000416F07CD685247C0A023F5F15A7F...,2021-11-25 13:54:01.877278+00:00,2021-11-25 13:54:01.877278+00:00,None

(1000, 5)

In [10]:
regions_query = """
select * from public.regions
"""

regions = pd.read_sql(regions_query, conn)

display(regions.head())
display(regions.shape)

,id,name,location,created_at,updated_at,deleted_at
0,39cb3e9d-780e-4634-825a-934633b0911a,Jaguara,0103000020E610000001000000210500005CE50779C460...,2021-11-25 13:54:01.652593+00:00,2021-11-25 13:54:01.652593+00:00,None
1,bd3937dc-0f05-49d9-813e-45561fd77973,Limão,0103000020E6100000010000005B0400008B3254D54958...,2021-11-25 13:54:01.652593+00:00,2021-11-25 13:54:01.652593+00:00,None
2,c9db7ff1-0296-4911-a28b-963d4b73f387,Sé,0103000020E610000001000000A7020000EDB3E8460D51...,2021-11-25 13:54:01.652593+00:00,2021-11-25 13:54:01.652593+00:00,None
3,d92e408d-999f-4615-941f-01147609f7d9,Itaim Bibi,0103000020E610000001000000930200002392CF42F357...,2021-11-25 13:54:01.652593+00:00,2021-11-25 13:54:01.652593+00:00,None
4,21ddc221-142f-482f-baf9-5c24b5cf9d0b,Vila Formosa,0103000020E610000001000000D80400007BF917045047...,2021-11-25 13:54:01.652593+00:00,2021-11-25 13:54:01.652593+00:00,None

(96, 6)

In [12]:
regions["location"]

0     0103000020E610000001000000210500005CE50779C460...
1     0103000020E6100000010000005B0400008B3254D54958...
2     0103000020E610000001000000A7020000EDB3E8460D51...
3     0103000020E610000001000000930200002392CF42F357...
4     0103000020E610000001000000D80400007BF917045047...
                            ...
91    0103000020E610000001000000B5010000F237BD31B353...
92    0103000020E610000001000000C1030000623A86E31B4F...
93    0103000020E6100000010000008D0100008C3D672DF154...
94    0103000020E610000001000000A80300003A9087BA384F...
95    0103000020E6100000010000003A0300004992A598E34A...
Name: location, Length: 96, dtype: object